.navbar{
    position: fixed;
    width: 100%;
    top: 0;
   background-color: cornsilk;

}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.banner {
    background-color: bisque;
    color: black;
    margin-top: 5px;
    text-align: center;
    padding: 50px 0px;
}

#small-homer {
    width: 110px;
    height: 210px;
    filter: drop-shadow(1px 1px 1px black);
    
}

#homer{
font-size: 100px;
}

.bold{
    font-weight: 900;
}

.homer-section{
    padding: 20px 50px;
}

.homerfacts{
    padding: 20px 50px;
}

.homersbio {
    text-align: center;
    padding: 30px 50px;
    font-size: large;
}

.homerimage {
    width: 200px;
    height: 200px;
    filter: drop-shadow(1px 1px 1px black);
}

.homerselfie{
    text-align: center;
    padding: 20px; 
}

.thanks {
    text-align: center;
    padding: 20px;
}
.contact {
    text-align: center;
    background-color: bisque;
    padding: 1px;
    bottom: 0px;
}

.contact p {
  
}
a.pink {
    color: rgb(255, 0, 191);
}

#greets ul {
   list-style-type: none;
}

.avatar{
    background-image: image();
}

.thanks a {
    text-decoration: none;
    color: rgb(255, 0, 191);
}

.factsheader {
    padding: 25px;
    text-align: center;
    background-color: bisque;
}

#simpsons{
    width: 300px;
    height: 200px;
}

.sfacts{
   
    padding: 40px 20px;
}

.sfacts iframe{
    padding: 40px;
}


.contactinfo{
    text-align: center;
    padding: 30px;
    background-color: bisque;
}

.email{
    text-align: center;
    padding: 40px;
}

#josh {
    padding: 40px;
    width: 100px;
    height: 100px;
}

.aboutme {
    padding: 30px;
    text-align: center;
}